.blog-list-show {
     .post-module {
          position: relative;
          z-index: 1;
          display: block;
          margin: 10px;
          max-width: 300px;
          min-width: 270px;
          height: 445px;
          -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.15);
          -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.15);
          -webkit-transition: all 0.2s linear 0s;
          -moz-transition: all 0.2s linear 0s;
          -ms-transition: all 0.2s linear 0s;
          -o-transition: all 0.2s linear 0s;
          transition: all 0.2s linear 0s;

          .thumbnail {
               height: 300px;
               overflow: hidden;

               .date {
                    position: absolute;
                    top: 20px;
                    right: 20px;
                    z-index: 1;
                    background: #e74c3c;
                    width: 55px;
                    height: 55px;
                    padding: 12.5px 0;
                    -webkit-border-radius: 100%;
                    -moz-border-radius: 100%;
                    border-radius: 100%;
                    font-weight: 700;
                    text-align: center;
                    -webkti-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;

                    .date-day {
                         font-size: 18px;
                         margin-top: -3px;
                    }

                    .date-month {
                         font-size: 12px;
                         text-transform: uppercase;
                         margin-top: -10px;
                    }
               }

               img {
                    margin-left: -200px !important;
                    height: 100%;
                    margin: auto;
                    -webkit-transition: all 0.2s linear 0s;
                    -moz-transition: all 0.2s linear 0s;
                    -ms-transition: all 0.2s linear 0s;
                    -o-transition: all 0.2s linear 0s;
                    transition: all 0.2s linear 0s;
               }
          }

          .post-content {
               position: absolute;
               bottom: 0;
               width: 100%;
               padding: 20px;
               -webkti-box-sizing: border-box;
               -moz-box-sizing: border-box;
               box-sizing: border-box;
               -webkit-transition: all 0.2s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
               -moz-transition: all 0.2s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
               -ms-transition: all 0.2s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
               -o-transition: all 0.2s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
               transition: all 0.2s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;

               .category {
                    position: absolute;
                    top: -34px;
                    left: 0;
                    padding: 10px 15px;
                    font-size: 14px;
                    font-weight: 600;
                    text-transform: uppercase;
               }

               .title {
                    font-size: 20px;
                    margin-top: -10px;
               }

               .sub_title {
                    padding: 0 0 20px;
                    font-size: 17px;
                    font-weight: 400;
               }

               .description {
                    overflow: hidden;
                    height: 0px;
                    font-size: 14px;
                    line-height: 1.8em;
                    transition: 0.3s;
               }

               .post-meta {
                    margin: 30px 0 0;

                    .timestamp {
                         margin: 0 16px 0 0;
                    }
                    a {
                         text-decoration: none;
                    }
               }
          }

          &:hover{
               -webkit-box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3) !important;
               -moz-box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3) !important;
               box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3) !important;

               .thumbnail img {
                    -webkit-transform: scale(1.1) !important;
                    -moz-transform: scale(1.1) !important;
                    transform: scale(1.1) !important;
                    opacity: 0.6 !important;
               }
               .post-content {
                    .description {
                         height: 150px !important;
                    }
               }
          }
     }
}

.modal-contents{
     overflow: hidden;
     padding: 20px;
}

.this-is-content-modal{
     margin-top: 10px;
     a {
          text-decoration-line: none;
     }
}

@media only screen and  (max-width: 560px) {
     .this-is-content-modal{
          p, span {
               font-size: 14px !important;
          }
          li {
               font-size: 13px !important;
          }
     }
}
