.introduction-page{
     margin-top: 50px;
     display: flex;
     justify-content: center;
     align-content: center;
     align-items: center;

     .intropage-container{
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-content: center;
          align-items: center;
          width: 80%;
          
          .intropage-info{
               order: 1;
               width: 60%;
               .intropage-info-container{
                    float: right;
                    padding: 30px;
                    text-align: right;
                    h1 {
                         margin-top: -10px;
                    }
                    h2 {
                         font-weight: 300;
                         margin-top: -10px;
                    }
                    .intropage-info-text{
                         p {
                              font-weight: 300;
                              margin:0;
                         }
                         .button-links{
                              margin-top: 10px;
                         }
                    }
               }
          }
          .intropage-img{
               order: 2;
               width: 40%;
               .intropage-img-container{
                    .intropage-img-here{
                         width: 300px;
                         height: 300px;
                         overflow: hidden;
                         border-radius: 100%;
                         border: 0px solid #1867c0;
                         transition: 0.3s;

                         &:hover {
                              border: 6px solid #1867c0;
                         }

                         img{
                              margin: 0px 0px 0px 0px;
                              width: 300px;
                              
                              transition: 0.3s;

                              &:hover{
                                   width: 320px;
                                   margin: -10px 0px 0px -10px;
                                   transform: translate(-6px,-6px);
                              }
                         }
                    }
               }
          }
     }
}


@media only screen and (max-width: 749px){
     .introduction-page{
          margin-top: 50px;
          display: block;
          justify-content: center;
          align-content: center;
          align-items: center;
          width: 100%;
     
          .intropage-container{
               width: 100%;
               display: block;
               text-align: center;
               .intropage-info{
                    
                    width: 100%;
                    text-align: center;

                    .intropage-info-container{
                         text-align: center;
                    }
               }
               .intropage-img{
                    width: 100%;
                    text-align: center;
                    display: flex;
                    justify-content: center;

                    .intropage-img-container{
                         text-align: center;
                    }
               }
          }
     }
}