$container-transition: 0.5s;
.home {
     display: -webkit-box;
     display: -moz-box;
     display: -ms-flexbox;
     display: -webkit-flex;
     display: flex;
     justify-content: center;
     

     .profile-container {
          width: 100%;
          margin-top: 10px;
          margin-right: 70px;
          margin-left: 70px;
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          flex-direction: row;
          justify-content: center;
          max-width: 1200px;

          .profile-box-here {
               width: 25%;
               overflow: hidden;
               transition: $container-transition;
               opacity: 0;
               .float-right {
                    float: right;
               }
          }

          .info-box {
               transition: $container-transition;
               width: 75%;
               margin: 10px;

               .info-box-page-view {
                    margin: 10px 0px 0px 0px;
               }
          }
     }
     .bottom-navigations {
          display: none;
     }

     @media only screen and (max-width: 1197px) {
          .profile-container {
               display: block;
               margin-right: 30px;
               margin-left: 0px;
               .profile-box-here {
                    display: none;
                    width: 0% !important;
               }

               .info-box {
                    width: 100% !important;
                    margin: 10px;
               }
               .info-box {
                    width: 95%;
                    .tab-wide {
                         display: none;
                    }
               }
          }
          .bottom-navigations {
               display: block;
               margin-bottom: -3px;
          }
     }
}

@media only screen and (max-width: 768px) {
     .profile-container {
          margin-right: 0px;
          margin-left: 0px;
          margin-bottom: 70px;
          margin-top: 20px;
          display: block;
     }
}
