.blog-container{

     .blog-content{
          margin: auto;
          z-index: 5;
          padding-top: 10px;
          .view-content{
               padding: 30px;
               max-width: 860px;
               margin: auto;
               h1 {
                    font-size: 48px;
               }
               .view-title{
                    span {
                         font-size: 15px;
                    }
               }
               .jenuel-article {
                    p {
                         font-size: 1.2rem !important;
                         font-weight: 100 !important;
                         margin-bottom: 20px;
                    }
                    pre {
                         font-size: 1.2rem !important;
                         code {
                              padding: 20px;
                         }
                    }
                    ul {
                         font-size: 18px;
                    }
                    h2 {
                         font-size: 30px;
                    }
                    h3 {
                         font-size: 1.5rem;
                    }
               }
          }
     }
}
@media only screen and (max-width: 954px) {
     .blog-container{
          .backbutton-btn {
               margin-top: -10px;
          }
     }
}

@media only screen and (max-width: 560px){
     .alert-blog{
          font-size: 12px !important;
     }
     .blog-container{
          .backbutton-btn {
               margin-top: -55px;
          }
          .blog-content{
               margin: 60px 5px 0px 10px !important;
               z-index: 5;
               padding-top: 10px;
               .view-content {
                    
                    padding: 10px !important;
                    h1 {
                         font-size: 25px !important;
                    }
                    .view-title{
                         span {
                              font-size: 15px !important;
                         }
                    }
                    .jenuel-article {
                         p {
                              font-size: 1rem !important;
                              font-weight: 100 !important;
                              margin-bottom: 20px;
                         }

                         ul {
                              font-size: 18px !important;
                         }
                         h2 {
                              font-size: 20px !important;
                         }
                         h3 {
                              font-size: 1.2rem !important;
                         }
                    }
               }
          }
     }
}

@media only screen and (max-width: 320px){

}